.blog__items--link {
    display: block;
}

.blog__items:hover .blog__items--img {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.blog__items--link {
  display: block;
}

@media only screen and (max-width: 767px) {
  .blog__items--link {
    width: 100%;
  }
}

.blog__items--img {
  display: block;
}

@media only screen and (max-width: 767px) {
  .blog__items--img {
    width: 100%;
  }
}

.blog__items--thumbnail {
  overflow: hidden;
}

.blog__items--content {
  padding: 23px 15px 20px;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16);
}

@media only screen and (min-width: 768px) {
  .blog__items--content {
    padding: 22px 15px 20px;
  }
}

@media only screen and (min-width: 992px) {
  .blog__items--content {
    padding: 25px 15px 22px;
  }
}

@media only screen and (min-width: 1200px) {
  .blog__items--content {
    padding: 25px 20px 22px;
  }
}

.blog__items--meta {
  margin-bottom: 15px;
}

@media only screen and (min-width: 768px) {
  .blog__items--meta {
    margin-bottom: 15px;
  }
}

@media only screen and (min-width: 992px) {
  .blog__items--meta {
    margin-bottom: 16px;
  }
}

@media only screen and (min-width: 1200px) {
  .blog__items--meta {
    margin-bottom: 19px;
  }
}

.blog__items--meta__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blog__items--meta__icon {
    margin-right: 7px;
    width: 1.8rem;
}

@media only screen and (min-width: 768px) {
  .blog__items--meta__icon {
    margin-right: 10px;
  }
}

@media only screen and (max-width: 575px) {
  .blog__items--meta__icon {
    margin-right: 5px;
    width: 12px;
  }
}

.blog__items--meta__text {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.2rem;
}

@media only screen and (min-width: 768px) {
  .blog__items--meta__text {
    font-size: 1.3rem;
  }
}

@media only screen and (max-width: 575px) {
  .blog__items--meta__text {
    font-size: 1.1rem;
  }
}

.blog__items--title {
  margin-bottom: 11px;
}

@media only screen and (min-width: 768px) {
  .blog__items--title {
    margin-bottom: 12px;
  }
}

@media only screen and (min-width: 992px) {
  .blog__items--title {
    margin-bottom: 15px;
    font-size: 1.8rem;
    line-height: 2.6rem;
  }
}

@media only screen and (min-width: 1600px) {
  .blog__items--title {
    font-size: 2rem;
    line-height: 2.8rem;
  }
}

.blog__items--readmore {
  color: rgba(var(--color-foreground));
}

.blog__items--readmore__icon {
  vertical-align: middle;
  margin-left: 3px;
}

.blog__items--readmore:hover {
  opacity: 0.7;
}

.blog__items--desc {
  margin-bottom: 11px;
}

@media only screen and (min-width: 768px) {
  .blog__items--desc {
    margin-bottom: 10px;
  }
}

@media only screen and (min-width: 992px) {
  .blog__items--desc {
    margin-bottom: 14px;
  }
}

.blog__swiper--activation {
  padding: 0 10px 10px;
}

.blog__slider--wrapper {
    padding: 0 10px 10px;
}
.blog__items--meta>ul {
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 12px;
    flex-wrap: wrap;
}