{%- liquid
  assign th_st = settings
  assign current_variant = product.selected_or_first_available_variant
  assign compare_at_price = current_variant.compare_at_price
  assign price = current_variant.price
  assign product_avail = product.available
  
  assign sale = false
  if compare_at_price > price and compare_at_price != blank
    assign sale = true
  endif

  assign sold_out = false
  if product.available != true
    assign sold_out = true
  endif

  assign pre_order = false
  if product.template_suffix == 'pre-order' or product.tags contains 'pre-order'
    assign pre_order = true
  endif

  assign label = false
  if sold_out == true or sale == true or pre_order == true
    assign label = true
  endif

  assign p = 0
  if compare_at_price > price and compare_at_price != blank
    assign p = compare_at_price | minus: price | times: 100.0 | divided_by: compare_at_price | round
  endif
-%}

{%- if label -%}
  <div class="bls__product-label fs-12 pointer-events-none {{ label_class | default: 'absolute' }}">
    {%- if th_st.enable_sale_label and sale -%}
      <div class="bls__sale-label">
        -{{- p -}}%
      </div>
    {%- endif -%}
    {%- if th_st.enable_sold_out and sold_out -%}
      <div class="bls__sold-out-label">
        {{ 'products.product.sold_out' | t }}
      </div>
    {%- else -%}
      {%- if th_st.enable_preorder and pre_order -%}
        <div class="bls__pre-order-label">
          {{ 'products.product.pre_order' | t }}
        </div>
      {%- endif -%}
    {%- endif -%}
  </div>
{%- endif -%}
