:root {
  --btn-text-transform: capitalize;
  --input-font-size: calc(var(--base-font-size) - 1px);
}

.vetical-overlay .bls__overlay {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.bls__subcribe-button {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.bls__product-item .bls__product-type {
  color: #999999;
}

.bls__product-name a:hover {
  color: var(--primary-color);
}

.topbar {
  font-size: calc(var(--base-font-size) - 1px);
  font-weight: 400;
  padding: 3px 0;
}

body .h2,
body h2 {
  font-size: clamp(2.4rem, 4vw, var(--font-h2));
}

body .slide__block-link {
  margin-top: clamp(1.5rem, 4vw, 3rem);
}

body .slide__block-link:not(.btn-link) {
  padding: clamp(1rem, 1.2vw, 1.45rem) clamp(4rem, 4.5vw, 5.6rem);
}

.bls__banner .bls__banner-content:not(.absolute) {
  margin-top: 0;
  padding: 2.5rem 3rem 2rem 3rem;
  background: #fff;
}

.bls__banner .bls__banner-subtext.fs-18 {
  font-size: 2rem;
  line-height: 1.4;
  margin-bottom: 1.5rem;
}

.bls__banner .bls__banner-button {
  padding-top: 1.5rem;
}

.bls__banner .btn-link {
  font-weight: 500;
  line-height: 1;
}

.bls__banner .btn-link::before {
  height: 1px;
  width: 100%;
}

.bls__section_shipping-content {
  margin-top: 1rem;
}

.bls__section_shipping-content h3 {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 5px;
}

.links-view-all a {
  display: inline-flex;
  align-items: center;
}

.bls__product .bls__grid>.row {
  --bs-gutter-x: 2rem;
}

.bls__section-header {
  --bls__section-header-margin: clamp(1.5rem, 4.6vw, 2rem);
}

.text-as-title.bls__section-header {
  padding-bottom: 1rem;
}

.bls__product-label>div.bls__pre-order-label {
  background-color: #F8BA26;
  color: var(--heading-color);
}

.bls__collection-menu-items>div {
  background-color: var(--color-white);
  padding: 3rem;
}

body .bls__section .bls__grid .bls__product-item {
  background-color: var(--color-white);
  border-radius: var(--product-images-style-radius);
  overflow: hidden;
}

.bls__section .bls__grid .bls__product-item .bls__product-img {
  padding: 20px;
  padding-bottom: 0;
}

.bls__section .bls__grid .bls__product-item .bls__product-details {
  padding: 15px 20px 20px 20px;
}

.bls__product-item .bls__product-type {
  text-transform: uppercase;
}

.bls__product-item .bls__product-price {
  margin-top: 8px;
}

@media (min-width: 768px) {
  .bls__product-item .bls__product-price .price {
    font-size: 18px;
  }

  .bls__slideshow .bls__slide-content.container,
  .bls__slideshow .bls__slide-content.container-fluid {
    --bs-gutter-x: 20rem;
  }
}

.bls__section-list-products .bls__product-item .bls__product-img {
  max-width: 170px;
  width: 40%;
}

.bls__section.bls__shipping .row>div {
  position: relative;
}

@media (min-width: 992px) {
  .bls__section.bls__shipping .row>div:not(:last-child)::before {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    height: 60px;
    width: 1px;
    transform: translateY(-50%);
    border-right: 1px solid var(--border-color-base);
  }

  :root {
    --btn-padding: 1.2rem 5.5rem;
  }
}

.quick-search-list li:not(:last-child) a:after {
  transform: translate(-1px);
  -webkit-transform: translateX(-1px);
}

.bls__section_subcribe-form-content .bls__section-header {
  border: none !important;
}

.search-modal__form .field .search__input.input-icon {
  border: 2px solid var(--primary-color);
}

@media (max-width: 767px) {
  .bls__subcribe-form.spt-mobile {
    --section-padding-top: 5rem !important;
  }

  .footer .bls__footer-middle {
    --footer-middle-padding-top: 3rem;
  }
}

.title-menu-dropdown span {
  margin-top: 2px;
}

@media only screen and (min-width: 1025px) {
  .h_layout4 .middle-bottom {
    border-top: none;
  }

  .h_layout4 .middle-bottom .col-header-left {
    position: relative;
  }

  .h_layout4 .middle-bottom .col-header-left:before {
    content: "";
    position: absolute;
    top: -1px;
    border-top: 1px solid var(--header_border_color, --border-color-base);
    width: var(--bls-container-fluid-width);
    left: 0;
    pointer-events: none;
  }

  .navigation.horizontal .level0>a {
    padding: 1.55rem var(--spacing-menu);
  }

  .verticalmenu-list {
    border-radius: 0 0 var(--product-images-style-radius) var(--product-images-style-radius);
    padding: 1rem 0;
  }

  .navigation .verticalmenu-list .submenu,
  .verticalmenu-list .default_dropdown .subLinks {
    border-radius: 0 var(--product-images-style-radius) var(--product-images-style-radius) var(--product-images-style-radius);
  }

  .menu-slide.navigation .verticalmenu-list .submenu,
  .menu-slide .verticalmenu-list .default_dropdown .subLinks {
    border-radius: var(--product-images-style-radius);
  }

  .menu-slide .verticalmenu-list {
    border-radius: var(--product-images-style-radius);
  }

}

.bls__product-vendor {
  text-transform: uppercase;
}

.item-product-list.bls__product-item .bls__product-price {
  margin-top: 4px;
}

.template-index .header_scroll_down .title-menu-dropdown .icon-chevron-down {
  display: block;
}

.content-search-form {
  padding: 1rem 0 1.85rem;
}

@media (max-width: 576px) {
  .sticky-addcart-product-form form.form select {
    padding-left: 11px;
  }

  @media (max-width: 425px) {

    .swiper-thumbs .swiper-button-next,
    .swiper-thumbs .swiper-button-prev {
      --swiper-navigation-top-offset: 40%;
    }
  }

  .swiper-button-next,
  .swiper-button-prev {
    z-index: 4;
  }

  .bls__product-label {
    top: 2rem !important;
    left: 2rem !important;
  }

  .product-layout-2 .bls__product-details-infor {
    top: 180px;
  }

  .sticky-addtocart-show {
    padding-bottom: 0 !important;
  }

  :root {
    --grey-color: #525252;
  }