
<div class="G_Header" >We are seeing Google search results reflected in our LEDSONE</div>
<script async="" src="https://cse.google.com/cse.js?cx=d7e1b1b179209468c">
</script>
<div class="gcse-search"></div>

<style>
 
  .G_Header {
  font-size: 3rem;           
  font-weight: bold;         
  /* color: white;             */
  text-align: center;        
  padding: 20px;             
  /* background-color: black;  */
  border-bottom: 2px solid #ccc; 
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}
@media (max-width: 600px) {
  .G_Header {
    font-size: 20px;     
    padding: 15px 10px;    
  }
}
</style>

