<div class="password__footer">
    <div class="container text-center d-flex flex-column justify-content-center">
      {% comment %} {%- render 'social-media-links' -%} {% endcomment %}
      <small class="password__footer-caption password__footer-text">
        {{- 'general.password_page.powered_by_shopify_html' | t: shopify: shopify -}} {{ shop.name }}
      </small>
      <small class="password__footer-login password__footer-text">{{ 'general.password_page.admin_link_html' | t }}</small>
    </div>
  </div>